.row {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 20px #eee;
  margin-top: 90px;
  border-radius: 10px;
}
.nav-pills .nav-link {
  border-radius: 1.25rem;
  box-shadow: 0 0 20px #eee;
  margin-bottom: 17px;
}
.nav-link {
  display: block;
  padding: 0.5rem 7rem;
}
a {
  background: #fff;
  color: black;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 50px 10px;
  box-shadow: 0 0 20px #eee;
}
.col-9 {
  height: 500px;
}

.container {
  position: relative;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    82deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(102, 102, 223, 1) 0%,
    rgba(116, 232, 255, 1) 99%
  );
}
button {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    82deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(102, 102, 223, 1) 0%,
    rgba(116, 232, 255, 1) 99%
  );
  border-radius: 2rem !important;
  border: none !important;
}
